html {
	height:100%
}
h1 {
	/*color:black;*/
	/*border:3px solid mediumorchid;*/
	font-size:100px
}

h2{
	/*color:#4286f4;*/
}
body{
	color:white;
	font-family:raleway;
	text-align:center;
	background:linear-gradient(to top right, #ff9a16,#9d31c6);
}
