html {
	height:100%
}
h1 {
	/*color:black;*/
	/*border:3px solid mediumorchid;*/
	font-size:100px
}
@font-face {
	/*font-family: exothin;
    src: url(Exo-Thin.ttf);*/
}
h2{
	/*color:#4286f4;*/
}
body{
	color:white;
	font-family:"raleway", tahoma;
	text-align:center;
	background:linear-gradient(to top right, #ff9a16,#9d31c6) top right no-repeat; background-attachment:fixed;
}
li {
	List-style-type: none;
	float: right;
	margin-right: 10px;
}
ul {
	margin-right: 10px;
}
h1 {
	margin-top: 0px;
	margin-bottom: 30px;
}
a {
	text-decoration:none;
	color: white;
}
a:hover {
	text-decoration: underline
}
a.dick {
	color: blue;
	float: left;
}
p {
	font-family: arial;
}
